## 기본전처리 패키지
- pandas : 숫자 테이블과 시계열을 조작하기위한 데이터 구조와 연산을 제공하는 데이터 처리를 위한 라이브러리
           => 데이터 읽기/쓰기와 인덱싱,결측치 처리 등 다양한 데이터 처리 기능 수행

- numpy : 벡터, 행렬 등 수치 연산을 수행하는 선형대수 라이브러리
          => 수치해석, 통계계산 등의 기능 수행

### Pandas
- 판다스에서 다루는 데이터 오브젝트로는 주로 DataFrame, Series가 있지만 데이터 분석의 특성상 DataFrame 위주로 진행
- 데이터 불러오기 및 확인 / 데이터 정렬 / 데이터 인덱싱 /

In [2]:
import pandas as pd

#### 1. 데이터 불러오기 및 확인

In [20]:
indexInfo = pd.read_csv('!!!!!파일위치!!!!!/indexInfo.csv')
indexProcessed = pd.read_csv('!!!!!파일위치!!!!!/indexProcessed.csv')

In [21]:
# indexInfo, indexProcessed 두 데이터를 병합해 새로운 데이터 생성 : pd.merge

stock = pd.merge(indexInfo,indexProcessed,on = 'Index',how = 'outer')
stock

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,United States,New York Stock Exchange,NYA,USD,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0,528.690002
1,United States,New York Stock Exchange,NYA,USD,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0,527.210022
2,United States,New York Stock Exchange,NYA,USD,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0,527.840027
3,United States,New York Stock Exchange,NYA,USD,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0,531.119995
4,United States,New York Stock Exchange,NYA,USD,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0,532.070007
...,...,...,...,...,...,...,...,...,...,...,...,...
104220,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104221,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104222,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104223,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104224,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [22]:
# 데이터 개요확인 : 결측값, 변수유형 확인

stock.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104225 entries, 0 to 104224
Data columns (total 12 columns):
Region       104225 non-null object
Exchange     104225 non-null object
Index        104225 non-null object
Currency     104225 non-null object
Date         104224 non-null object
Open         104224 non-null float64
High         104224 non-null float64
Low          104224 non-null float64
Close        104224 non-null float64
Adj Close    104224 non-null float64
Volume       104224 non-null float64
CloseUSD     104224 non-null float64
dtypes: float64(7), object(5)
memory usage: 10.3+ MB

In [23]:
# 데이터 내의 변수확인 => 변수명을 원소로하는 리스트 생성해 활용 가능

stock.columns

Index(['Region', 'Exchange', 'Index', 'Currency', 'Date', 'Open', 'High',
       'Low', 'Close', 'Adj Close', 'Volume', 'CloseUSD'],
      dtype='object')

In [24]:
stock_col = stock.columns.to_list()
stock_col

['Region',
 'Exchange',
 'Index',
 'Currency',
 'Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Adj Close',
 'Volume',
 'CloseUSD']

In [25]:
# 데이터 인덱스 추출 => 이 데이터의 경우 숫자로

stock.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            104215, 104216, 104217, 104218, 104219, 104220, 104221, 104222,
            104223, 104224],
           dtype='int64', length=104225)

In [26]:
# 수치형 변수들의 기본 통계량 확인 (갯수, 평균, 표준편차 등등,,,)

stock.describe()

,Open,High,Low,Close,Adj Close,Volume,CloseUSD
count,104224.000000,104224.000000,104224.000000,104224.000000,104224.000000,1.042240e+05,104224.000000
mean,8015.353334,8063.324234,7962.581120,8014.366642,8014.161269,1.347646e+09,3046.729177
std,9140.563404,9196.575802,9082.767802,9140.609758,9140.720456,4.427662e+09,3747.865623
min,54.869999,54.869999,54.869999,54.869999,54.869999,0.000000e+00,10.204900
25%,2046.887756,2057.213990,2037.185943,2047.506470,2047.358490,0.000000e+00,320.460898
50%,5772.140137,5812.764892,5725.199951,5773.710205,5773.710205,9.529000e+05,1371.598486
75%,10487.377445,10552.179690,10416.092287,10488.622560,10488.622560,2.064676e+08,4383.045241
max,68775.062500,69403.750000,68516.992190,68775.062500,68775.062500,9.440374e+10,18934.376173

In [27]:
# 데이터 안에 들어가는 내용 확인 => 직관적으로 파악하기 어려움

stock.values

array([['United States', 'New York Stock Exchange', 'NYA', ...,
        528.6900019999999, 0.0, 528.6900019999999],
       ['United States', 'New York Stock Exchange', 'NYA', ...,
        527.210022, 0.0, 527.210022],
       ['United States', 'New York Stock Exchange', 'NYA', ...,
        527.840027, 0.0, 527.840027],
       ...,
       ['South Africa', 'Johannesburg Stock Exchange', 'J203.JO', ...,
        66940.25, 0.0, 4685.8175],
       ['South Africa', 'Johannesburg Stock Exchange', 'J203.JO', ...,
        67554.85938, 0.0, 4728.840156600001],
       ['South Africa', 'Johannesburg Stock Exchange', 'J203.JO', ...,
        67964.03906, 0.0, 4757.4827342]], dtype=object)

In [28]:
# 범주형 변수들의 범주 확인

stock['Region'].value_counts()

United States    26637
Japan            13874
China            11551
Canada           10526
Hong Kong         8492
Germany           8438
Switzerland       7671
Taiwan            5869
Europe            5474
India             3346
South Africa      2346
Korea                1
Name: Region, dtype: int64

In [29]:
stock['Exchange'].value_counts()

New York Stock Exchange             13947
Tokyo Stock Exchange                13874
NASDAQ                              12690
Toronto Stock Exchange              10526
Hong Kong Stock Exchange             8492
Frankfurt Stock Exchange             8438
SIX Swiss Exchange                   7671
Taiwan Stock Exchange                5869
Shanghai Stock Exchange              5791
Shenzhen Stock Exchange              5760
Euronext                             5474
National Stock Exchange of India     3346
Johannesburg Stock Exchange          2346
Korea Exchange                          1
Name: Exchange, dtype: int64

In [30]:
stock['Currency'].value_counts()

USD    26637
EUR    13912
JPY    13874
CNY    11551
CAD    10526
HKD     8492
CHF     7671
TWD     5869
INR     3346
ZAR     2346
KRW        1
Name: Currency, dtype: int64

In [31]:
stock.head(5)

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,United States,New York Stock Exchange,NYA,USD,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0,528.690002
1,United States,New York Stock Exchange,NYA,USD,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0,527.210022
2,United States,New York Stock Exchange,NYA,USD,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0,527.840027
3,United States,New York Stock Exchange,NYA,USD,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0,531.119995
4,United States,New York Stock Exchange,NYA,USD,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0,532.070007

#### 2.데이터 정렬

In [32]:
# 정렬기준이 되는 변수 설정 가능

stock.sort_values(by = ['Adj Close'])

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
14870,United States,NASDAQ,IXIC,USD,1974-10-03,54.869999,54.869999,54.869999,54.869999,54.869999,0.0,54.869999
14871,United States,NASDAQ,IXIC,USD,1974-10-04,55.160000,55.160000,55.160000,55.160000,55.160000,0.0,55.160000
14868,United States,NASDAQ,IXIC,USD,1974-10-01,55.480000,55.480000,55.480000,55.480000,55.480000,0.0,55.480000
14869,United States,NASDAQ,IXIC,USD,1974-10-02,55.669998,55.669998,55.669998,55.669998,55.669998,0.0,55.669998
14867,United States,NASDAQ,IXIC,USD,1974-09-30,55.669998,55.669998,55.669998,55.669998,55.669998,0.0,55.669998
...,...,...,...,...,...,...,...,...,...,...,...,...
104208,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-07,67608.890630,68664.359380,67608.890630,68519.531250,68519.531250,0.0,4796.367188
104169,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-03-09,68426.171880,69021.593750,68051.921880,68655.960940,68655.960940,0.0,4805.917266
104194,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-04-16,67823.093750,68741.828130,67823.093750,68698.781250,68698.781250,0.0,4808.914688
104171,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-03-11,68516.992190,68924.992190,68516.992190,68775.062500,68775.062500,0.0,4814.254375
88338,Korea,Korea Exchange,KS11,KRW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# 내림차순 정렬

stock.sort_values(by = ['Adj Close'],ascending = False)

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
104171,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-03-11,68516.992190,68924.992190,68516.992190,68775.062500,68775.062500,0.0,4814.254375
104194,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-04-16,67823.093750,68741.828130,67823.093750,68698.781250,68698.781250,0.0,4808.914688
104169,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-03-09,68426.171880,69021.593750,68051.921880,68655.960940,68655.960940,0.0,4805.917266
104208,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-07,67608.890630,68664.359380,67608.890630,68519.531250,68519.531250,0.0,4796.367188
104170,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-03-10,68655.960940,68655.960940,67941.453130,68516.992190,68516.992190,0.0,4796.189453
...,...,...,...,...,...,...,...,...,...,...,...,...
14867,United States,NASDAQ,IXIC,USD,1974-09-30,55.669998,55.669998,55.669998,55.669998,55.669998,0.0,55.669998
14868,United States,NASDAQ,IXIC,USD,1974-10-01,55.480000,55.480000,55.480000,55.480000,55.480000,0.0,55.480000
14871,United States,NASDAQ,IXIC,USD,1974-10-04,55.160000,55.160000,55.160000,55.160000,55.160000,0.0,55.160000
14870,United States,NASDAQ,IXIC,USD,1974-10-03,54.869999,54.869999,54.869999,54.869999,54.869999,0.0,54.869999
88338,Korea,Korea Exchange,KS11,KRW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

정렬된 순서로 데이터를 변경하고 싶을때는 inplace = True 옵션을 추가

#### 3.데이터 인덱싱
- loc(레이블 인덱싱) : 레이블을 기반으로 인덱싱
- iloc(위치 인덱싱) : 위치 정수를 기반으로 인덱싱
- 불린인덱싱 : 조건의 참/거짓 여부로 인덱싱

In [34]:
# 행기준 인덱싱

stock[100:110]

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
100,United States,New York Stock Exchange,NYA,USD,1966-05-24,494.850006,494.850006,494.850006,494.850006,494.850006,0.0,494.850006
101,United States,New York Stock Exchange,NYA,USD,1966-05-25,496.750000,496.750000,496.750000,496.750000,496.750000,0.0,496.750000
102,United States,New York Stock Exchange,NYA,USD,1966-05-26,496.750000,496.750000,496.750000,496.750000,496.750000,0.0,496.750000
103,United States,New York Stock Exchange,NYA,USD,1966-05-27,498.450012,498.450012,498.450012,498.450012,498.450012,0.0,498.450012
104,United States,New York Stock Exchange,NYA,USD,1966-05-31,491.679993,491.679993,491.679993,491.679993,491.679993,0.0,491.679993
105,United States,New York Stock Exchange,NYA,USD,1966-06-01,491.779999,491.779999,491.779999,491.779999,491.779999,0.0,491.779999
106,United States,New York Stock Exchange,NYA,USD,1966-06-02,491.470001,491.470001,491.470001,491.470001,491.470001,0.0,491.470001
107,United States,New York Stock Exchange,NYA,USD,1966-06-03,492.100006,492.100006,492.100006,492.100006,492.100006,0.0,492.100006
108,United States,New York Stock Exchange,NYA,USD,1966-06-06,488.609985,488.609985,488.609985,488.609985,488.609985,0.0,488.609985
109,United States,New York Stock Exchange,NYA,USD,1966-06-07,485.119995,485.119995,485.119995,485.119995,485.119995,0.0,485.119995

In [35]:
# 특정열만 추출

stock['Currency']

0         USD
1         USD
2         USD
3         USD
4         USD
         ...
104220    ZAR
104221    ZAR
104222    ZAR
104223    ZAR
104224    ZAR
Name: Currency, Length: 104225, dtype: object

##### loc 인덱싱

In [36]:
# loc 인덱싱 : 데이터명.loc[행,열]

stock.loc[100000,'Adj Close']

8208.958008

In [37]:
stock.loc[1000:1006,'Currency']

1000    USD
1001    USD
1002    USD
1003    USD
1004    USD
1005    USD
1006    USD
Name: Currency, dtype: object

In [38]:
stock.loc[100:104,:]

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
100,United States,New York Stock Exchange,NYA,USD,1966-05-24,494.850006,494.850006,494.850006,494.850006,494.850006,0.0,494.850006
101,United States,New York Stock Exchange,NYA,USD,1966-05-25,496.750000,496.750000,496.750000,496.750000,496.750000,0.0,496.750000
102,United States,New York Stock Exchange,NYA,USD,1966-05-26,496.750000,496.750000,496.750000,496.750000,496.750000,0.0,496.750000
103,United States,New York Stock Exchange,NYA,USD,1966-05-27,498.450012,498.450012,498.450012,498.450012,498.450012,0.0,498.450012
104,United States,New York Stock Exchange,NYA,USD,1966-05-31,491.679993,491.679993,491.679993,491.679993,491.679993,0.0,491.679993

In [39]:
stock.loc[[10000,50000,100000],['Region','High']]

               Region          High
10000   United States   7534.310059
50000           Japan  10478.509770
100000         Taiwan   8208.990234

##### iloc 인덱싱

In [40]:
# iloc

stock.iloc[100000,5]

8174.540039

In [41]:
stock.iloc[[10000,50000,100000],1:7]

,Exchange,Index,Currency,Date,Open,High
10000,New York Stock Exchange,NYA,USD,2005-09-23,7519.859863,7534.310059
50000,Tokyo Stock Exchange,N225,JPY,2001-10-31,10443.650390,10478.509770
100000,Taiwan Stock Exchange,TWII,TWD,2013-09-11,8174.540039,8208.990234

In [42]:
stock.iloc[[10000,50000,100000],-2:]

              Volume     CloseUSD
10000   1.973020e+09  7518.899902
50000   0.000000e+00   103.663398
100000  2.169100e+06   328.359609

##### bool index

In [43]:
stock[stock['Region'] == 'Hong Kong']

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
26637,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.000000e+00,333.879006
26638,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.000000e+00,330.213013
26639,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.000000e+00,331.811987
26640,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.000000e+00,335.906987
26641,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.000000e+00,338.923013
...,...,...,...,...,...,...,...,...,...,...,...,...
35124,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,2021-05-25,28461.500000,28929.240230,28461.500000,28910.859380,28910.859380,2.352078e+09,3758.411719
35125,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,2021-05-26,29056.279300,29261.859380,29027.949220,29166.009770,29166.009770,2.518538e+09,3791.581270
35126,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,2021-05-27,28998.390630,29157.949220,28950.720700,29113.199220,29113.199220,3.804955e+09,3784.715899
35127,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,2021-05-28,29219.460940,29336.130860,29033.720700,29124.410160,29124.410160,2.591560e+09,3786.173321
35128,Hong Kong,Hong Kong Stock Exchange,HSI,HKD,2021-05-31,29225.460940,29225.460940,28909.519530,29151.800780,29151.800780,2.188581e+09,3789.734101

In [56]:
stock[stock['Region'] == 'Hong Kong']['High']

26637     2568.300049
26638     2540.100098
26639     2552.399902
26640     2583.899902
26641     2607.100098
             ...
35124    28929.240230
35125    29261.859380
35126    29157.949220
35127    29336.130860
35128    29225.460940
Name: High, Length: 8492, dtype: float64

In [45]:
stock[stock['Region'] == 'Hong Kong']['High'].mean()

15303.62676154348

In [46]:
stock[stock['Close'] >= 60000]

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
103335,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2017-11-07,59975.67188,60589.76953,59975.67188,60182.60156,60182.60156,0.0,4212.782109
103336,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2017-11-08,60182.60156,60203.42969,59935.35938,60078.03125,60078.03125,0.0,4205.462188
103343,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2017-11-17,59549.21875,60183.48828,59549.21875,60128.41016,60128.41016,0.0,4208.988711
103344,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2017-11-20,60128.41016,60528.92969,60128.41016,60500.60938,60500.60938,0.0,4235.042657
103345,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2017-11-21,60500.60938,61298.60156,60500.60938,61211.51953,61211.51953,0.0,4284.806367
...,...,...,...,...,...,...,...,...,...,...,...,...
104220,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-25,66054.92188,66812.45313,66022.97656,66076.67969,66076.67969,0.0,4625.367578
104221,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-26,66076.67969,66446.36719,66030.35156,66108.22656,66108.22656,0.0,4627.575859
104222,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-27,66108.22656,66940.25000,66102.54688,66940.25000,66940.25000,0.0,4685.817500
104223,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-28,66940.25000,67726.56250,66794.60938,67554.85938,67554.85938,0.0,4728.840157
104224,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-31,67554.85938,68140.85156,67554.85938,67964.03906,67964.03906,0.0,4757.482734

#### 4. 데이터 삭제 : drop()

In [50]:
# 열삭제

stock.drop(['Close'], axis = 1) # inplace = True

,Region,Exchange,Index,Currency,Date,Open,High,Low,Adj Close,Volume,CloseUSD
0,United States,New York Stock Exchange,NYA,USD,1965-12-31,528.690002,528.690002,528.690002,528.690002,0.0,528.690002
1,United States,New York Stock Exchange,NYA,USD,1966-01-03,527.210022,527.210022,527.210022,527.210022,0.0,527.210022
2,United States,New York Stock Exchange,NYA,USD,1966-01-04,527.840027,527.840027,527.840027,527.840027,0.0,527.840027
3,United States,New York Stock Exchange,NYA,USD,1966-01-05,531.119995,531.119995,531.119995,531.119995,0.0,531.119995
4,United States,New York Stock Exchange,NYA,USD,1966-01-06,532.070007,532.070007,532.070007,532.070007,0.0,532.070007
...,...,...,...,...,...,...,...,...,...,...,...
104220,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,0.0,4625.367578
104221,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,0.0,4627.575859
104222,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,0.0,4685.817500
104223,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,0.0,4728.840157
104224,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,0.0,4757.482734

#### 5. 데이터 그룹화 : groupby()
- 각각의 항목그룹에 따른 수치계산시 사용

In [51]:
stock.groupby('Region').mean()

,Open,High,Low,Close,Adj Close,Volume,CloseUSD
Region,,,,,,,
Canada,8091.106543,8128.025943,8048.288132,8090.066305,8088.084509,9.620499e+09,6714.755033
China,5167.277422,5219.930971,5113.077501,5170.947965,5170.911890,1.780912e+05,827.351674
Europe,822.261348,826.810234,817.177209,822.153719,822.153719,1.958226e+08,1003.027537
Germany,5915.549220,5956.941632,5869.720949,5914.846717,5914.846717,6.830384e+07,7216.112995
Hong Kong,15206.355607,15303.626762,15091.048791,15200.605629,15200.605629,8.430191e+08,1976.078732
India,7665.751273,7712.532773,7605.887145,7660.047238,7660.047238,1.830719e+05,76.600472
Japan,12852.286239,12919.694377,12778.636383,12849.155197,12849.155197,3.976289e+07,128.491552
Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,50896.729912,51220.236232,50589.752451,50910.945859,50910.945859,0.000000e+00,3563.766210
Switzerland,6410.012762,6448.342905,6369.483406,6409.733078,6409.733078,3.646631e+07,7114.803716
Taiwan,8037.662438,8082.502931,7980.862418,8028.866141,8028.844382,2.457311e+06,321.154646
United States,3276.605549,3291.427464,3259.971029,3276.755938,3276.755938,1.108833e+09,3276.755938

#### 그 외 : apply()

In [59]:
# 우선 lambda함수의 구조를 간단히 파악해봅시다
# lambda함수는 사용자지정의 함수를 문법에 맞춰 작성하는 것 보다 더 간단하게 한줄로 해결가능

def func1(x,y):
    return x+y

func2 = lambda x,y : x+y

print('func1 : ', func1(7,10))
print('func2 : ', func2(7,10))

# 두 함수 모두 결과는 같지만 lambda함수의 구조가 훨씬 간단하다

func1 :  17
func2 :  17

In [61]:
## apply()는 lambda함수와 연결해 사용한다.
## apply()를 통해 새로운 변수를 생성해보자

stock['Diff'] = stock.apply(lambda x : x['Close'] - x['Open'], axis = 1)

stock

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,Diff
0,United States,New York Stock Exchange,NYA,USD,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0,528.690002,0.00000
1,United States,New York Stock Exchange,NYA,USD,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0,527.210022,0.00000
2,United States,New York Stock Exchange,NYA,USD,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0,527.840027,0.00000
3,United States,New York Stock Exchange,NYA,USD,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0,531.119995,0.00000
4,United States,New York Stock Exchange,NYA,USD,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0,532.070007,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104220,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578,21.75781
104221,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859,31.54687
104222,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500,832.02344
104223,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157,614.60938
104224,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734,409.17968

In [67]:
# if 조건 추가

stock['EUR Diff'] = stock.apply(lambda x: x['High'] - x['Low']
                               if (x['Currency'] == 'EUR')
                               else -1, axis = 1)

stock

,Region,Exchange,Index,Currency,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,Diff,USD Diff,EUR Diff
0,United States,New York Stock Exchange,NYA,USD,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0,528.690002,0.00000,0,-1.0
1,United States,New York Stock Exchange,NYA,USD,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0,527.210022,0.00000,0,-1.0
2,United States,New York Stock Exchange,NYA,USD,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0,527.840027,0.00000,0,-1.0
3,United States,New York Stock Exchange,NYA,USD,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0,531.119995,0.00000,0,-1.0
4,United States,New York Stock Exchange,NYA,USD,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0,532.070007,0.00000,0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104220,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578,21.75781,-,-1.0
104221,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859,31.54687,-,-1.0
104222,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500,832.02344,-,-1.0
104223,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157,614.60938,-,-1.0
104224,South Africa,Johannesburg Stock Exchange,J203.JO,ZAR,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734,409.17968,-,-1.0

In [69]:
stock['EUR Diff'].describe()

count    104225.000000
mean          6.700756
std          33.077544
min          -1.000000
25%          -1.000000
50%          -1.000000
75%          -1.000000
max         921.060546
Name: EUR Diff, dtype: float64